section.featureCard {
  font-size: 18px;
}
section.featureCard > figure {
  margin: 0px;
  margin-bottom: 0px;
  position: relative;
}
section.featureCard > figure > span {
  position: absolute;
}
section.featureCard > figure img {
  width: 100%;
  max-width: 1065px;
}

.fetureBtn {
  height: 59px;
  width: 303px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  top: -10px;
}
section.featureCard > figcaption > img {
  position: absolute;
  top: 20px;
  left: 50px;
}
.featureCard img.tire {
  z-index: 4;
  left: 20px;
  width: 59px;
  top: 0;
  left: 0;
}
.featureCard span.btnTxt {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  z-index: 3;
  color: #fff;
  padding-left: 5px;
  top: 8px;
  left: 90px;
  width: 100%;
  max-width: 120px;
  justify-content: center;
  text-align: center;
  height: 44px;
  align-items: center;
}
.featureCard img.fetureArrowsHover {
  top: 1px;
  z-index: 2;
  height: 59px;
  width: 284px;
  left: 27px;
  clip-path: inset(0px 284px 0px 0px);
}
.featureCard img.drk {
  top: 5px;
  width: 275px;
  height: 50px;
  z-index: 0;
  left: 0px;
  box-shadow: 0px 4px 12px 0px black;
}
.fetureBtn:hover {
  cursor: pointer;
}
.fetureBtn:hover img.tire {
  animation-name: tire-phone;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.fetureBtn:hover img.fetureArrowsHover {
  animation-name: arrows-phone;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.fetureBtn:hover img.drk {
  animation-name: card-phone;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes tire-phone {
  0% {
    transform: rotate3d(0, 0, 0);
    left: 20px;
  }
  100% {
    transform: rotate3d(0, 0, 360, 5turn);
    left: 250px;
  }
}
@keyframes arrows-phone {
  0% {
    clip-path: inset(0px 274px 0px 0px);
  }

  100% {
    clip-path: inset(0px 0px 0px 0px);
  }
}
@keyframes card-phone {
  0% {
    box-shadow: 0px 0px 0px #ffffff;
  }
  100% {
    box-shadow: 0px 0px 5px #ffffff;
  }
}

@media screen and (min-width: 800px) {
  section.featureCard {
    font-size: 24px;
  }

  .fetureBtn {
    height: 85px;
    width: 445px;
  }
  .featureCard img.tire {
    width: 85px;
    top: 0;
    left: 0px;
  }

  .featureCard span.btnTxt {
    left: 170px;
    max-width: 180px;
    height: 72px;
  }
  .featureCard img.fetureArrowsHover {
    width: 435px;
    height: 108px;
    left: 33px;
    top: -5px;
    clip-path: inset(0px 435px 0px 0px);
  }
  .featureCard img.drk {
    left: 45px;
    height: 75px;
    width: 400px;
  }
  .fetureBtn:hover img.tire {
    animation-name: tire;
  }
  .fetureBtn:hover img.fetureArrowsHover {
    animation-name: arrows;
  }
  .fetureBtn:hover img.drk {
    animation-name: card;
  }

  @keyframes tire {
    0% {
      transform: rotate3d(0, 0, 0);
      left: 0px;
    }
    100% {
      transform: rotate3d(0, 0, 360, 5turn);
      left: 365px;
    }
  }
  @keyframes arrows {
    0% {
      clip-path: inset(0px 413px 0px 0px);
    }

    100% {
      clip-path: inset(0px 0px 0px 0px);
    }
  }
  @keyframes card {
    0% {
      box-shadow: 0px 0px 0px #ffffff;
    }
    100% {
      box-shadow: 0px 0px 5px #ffffff;
    }
  }
}
