@media screen and (min-width: 768px) {
  /* Navigation styling */

  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
  }

  nav ul {
    flex-direction: row;
    width: auto;
    margin-right: 0.5rem;
  }

  .navlinks {
    width: auto;
  }

  .burgerContainer {
    display: none;
  }

  .navlinks,
  #electric {
    display: flex;
  }

  #electric {
    font-size: 20px;
    font-family: 'dosis';
  }

  /* Signup Styling */
  .signup {
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .signupInfoContainer {
    max-width: 600px;
  }

  .features {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  .coloringContainer {
    width: 100%;
    max-width: 1065px;
    height: 555px;
  }

  .cupSide {
    display: inline-block;
  }

  .cupholderContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    /*new code*/
    max-width: 764px;
    margin-left: auto;
    max-width: 900px;
    margin-right: auto;
  }

  .cupholderContainer img {
    width: 40%;
    max-width: 374px;
  }
  /*new code*/
  .shareContainer {
    margin: 76px auto;
  }

  .techFStripe {
    height: 80px;
    width: 40%;
    right: -2rem;
    background-color: rgba(255, 0, 0, 0.6);
    position: absolute;
    z-index: -1;
    top: 7rem;
  }
  .techSStripe {
    height: 160px;
    width: 80%;
    right: -2rem;
    background-color: rgba(42, 77, 134, 0.3);
    position: absolute;
    z-index: -1;
    top: 14rem;
  }
}

@media screen and (min-width: 1024px) {
  .coloringContainer {
    margin-bottom: 15rem;
  }
  .features {
    row-gap: 3rem;
  }
  .signup {
    margin-top: 100px;
  }
  .signupInfoContainer {
    margin-top: 95px;
    margin-bottom: 76px;
  }
  .overallDesc {
    display: flex;
    height: 100%;
    justify-content: space-around;
  }

  .prodInfoContainer,
  .safetyInfoContainer {
    max-width: 40%;
  }

  .coloringContainer {
    align-self: center;
  }
  .cupholderContainer {
    /*new code*/
    max-width: 764px;
    margin-left: auto;
    max-width: 900px;
    margin-right: auto;
  }
  .cupholderContainer img {
    max-width: 374px;
  }

  .stripe {
    top: 5rem;
    left: -25rem;
    height: 250px;
    width: 100%;
    z-index: -1;
    background-color: var(--houseColor);
    position: absolute;
  }
}
