@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--primaryGradient);
  color: white;
}

nav {
  height: 80px;
  background-color: var(--houseColor);
  display: flex;
  align-items: center;
  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 0 1.8rem;

    li {
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

main {
  .heroContainer {
    // 100vh minus naven's height:
    height: calc(100vh - 80px);
  }
}

.navlinks,
#electric {
  display: none;
}
