:root {
  --houseColor: #162133;
  --skyColor: #5183d3;
  --secondarySky: #2a4d86;
  --primaryGradient: linear-gradient(
    270deg,
    #162133 0%,
    rgba(32, 47, 72, 0.9) 44.27%,
    rgba(32, 47, 72, 0.9) 55.73%,
    #162133 100%
  );
}
